.form-card {
  width: 380px;
  margin: 10rem auto;
  padding: 20px 5px;
  border-radius: 25px !important;

}

body{
  background-color: rgb(201, 226, 218) !important;
}


input {
  background: #f8f5f5 !important;
}

.form-check{
  text-align: left;
  padding-left: 2px !important;
}

.checkbox{
  margin: 0px 8px 0px ;
}

@media (max-width: 600px) {
  .form-card{
    width: 100% !important;
  }
}




