
.subscriptions .card{
    text-align: left;
    width: 40%;
    margin: 1rem auto;
}

.subscriptions .name{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

@media (max-width: 980px) {
    .subscriptions .card{
        width: 80%;
    }
  }
  
  @media (max-width: 650px) {
    .subscriptions .card{
        width: 100%;
    }
  }